@charset "utf-8";
/* CSS Document */


html,
body {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}


#what, #myData {
	font-family: roboto;
	text-align: center;
	color: antiquewhite;
}


#POTW {
	width: 100%;
  height: 100%;
		}